# Draculady board configuration

# Copyright (c) 2020 @MangoIV
# SPDX-License-Identifier: MIT

config BOARD_DRACULADY_RIGHT
	bool "Draculady"
	depends on SOC_NRF52840_QIAA

config BOARD_DRACULADY_LEFT
	bool "Draculady"
	depends on SOC_NRF52840_QIAA


