/*
 * Copyright (c) 2021 @MangoIV
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// makes it possible to hold backspace
&mt {
    quick_tap_ms = <200>;
};

&lt {
    quick_tap_ms = <200>;
};

/ {
	keymap {
		compatible = "zmk,keymap";
		
		default {
            label = "Qwerty";
//  _____________________________       _____________________________
// /  Q  |  W  |  E  |  R  |  T  \     /  Y  |  U  |  I  |  O  |  P  \
// |  A  |  S  |  D  |  F  |  G  | ___ |  H  |  J  |  K  |  L  |  ;  |
// |Sft/Z|  X  |  C  |  V  |  B  ||MUT||  N  |  M  |  ,  |  .  |Sft//|
//         \LSup/Bspc|  Ctl/SPC  /     \  Num/Del  | Sym/Ent /
//          ---------------------       --------------------
			bindings = <
            &kp Q       &kp W   &kp E   &kp R   &kp T                   &kp Y   &kp U   &kp I       &kp O   &kp P
            &kp A       &kp S   &kp D   &kp F   &kp G                   &kp H   &kp J   &kp K       &kp L   &kp SEMI
            &mt LSHFT Z &kp X   &kp C   &kp V   &kp B   &kp C_MUTE      &kp N   &kp M   &kp COMMA   &kp DOT &mt RSHFT FSLH
                        &mt LGUI BSPC   &mt LCTRL SPACE                 &lt 1 RET       &lt 2 DEL
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};
		numbers {
            label = "Nummies";
//  _____________________________       _____________________________
// /  1  |  2  |  3  |  4  |  5  \     /  6  |  7  |  8  |  9  |  0  \
// | TAB |BTPRV|BTNXT| VOL-| VOL+| ___ |  <  |  v  |  ^  |  >  |  '  |
// | Sft |BTSL0|BTCLR| MUT |     ||CPS|| HOME| END | PGUP| PGDN| Sft |
//         \  LGUI   |    Ctl    /     \   Trns    |         /
//          ---------------------       --------------------
			bindings = <
            &kp N1      &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
            &kp TAB &bt BT_PRV &bt BT_NXT &kp C_VOL_DN &kp C_VOL_UP &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp SQT
            &kp LSHFT &bt BT_SEL 0 &bt BT_CLR &kp C_MUTE &none &none &kp HOME &kp END &kp PG_UP &kp PG_DN &kp RSHFT
            &kp LGUI &kp LCTRL &trans &kp LALT
			>;
			sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
		};
		symbols {
            label = "Funks";
//  _____________________________       _____________________________
// / ESC | F1  | F2  | F3  | F4  \     / USB | BLE |     |  =  |  -  \
// |     | F5  | F6  | F7  | F8  | ___ |  [  |  ]  |     |  `  |  \  |
// | Sft | F9  | F10 | F11 | F12 ||   ||     |     |     |     | Sft |
//         \  LAlt   |    Ctl    /     \           | Trns    /
//          ---------------------       --------------------
			bindings = <
            &kp ESC &kp F1 &kp F2 &kp F3 &kp F4 &out OUT_USB &out OUT_BLE &none  &kp EQUAL &kp MINUS
            &none &kp F5 &kp F6 &kp F7 &kp F8 &kp LBKT &kp RBKT &none &kp GRAVE &kp BSLH
            &kp LSHFT &kp F9 &kp F10 &kp F11 &kp F12 &none &none &none &sys_reset &bootloader &kp RSHFT
            &kp LGUI &kp LCTRL &kp LALT &trans
			>;
			sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
		};
	};
};
