/*
 * Copyright (c) 2021 @MangoIV
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// makes it possible to hold backspace
&mt {
    quick_tap_ms = <200>;
};

&lt {
    quick_tap_ms = <200>;
};

/ {
	behaviors {
		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "homerow mods";
			#binding-cells = <2>;
			tapping_term_ms = <200>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
	};
	
	keymap {
		compatible = "zmk,keymap";
		
		default {
            label = "Qwerty";
//  _____________________________       _____________________________
// /  Q  |  W  |  E  |  R  |  T  \     /  Y  |  U  |  I  |  O  |  P  \
// |  A  |  S  |  D  |  F  |  G  | ___ |  H  |  J  |  K  |  L  |  ;  |
// |Sft/Z|  X  |  C  |  V  |  B  ||MUT||  N  |  M  |  ,  |  .  |Sft//|
//         \LAlt/Bspc|  Ctl/SPC  /     \  Num/Del  | Sym/Ent /
//          ---------------------       --------------------
			bindings = <
            &kp Q       &kp W   &kp E   &kp R   &kp T                   &kp Y   &kp U   &kp I       &kp O   &kp P
            &kp A       &kp S   &kp D   &kp F   &kp G                   &kp H   &kp J   &kp K       &kp L   &kp SEMI
            &mt LSHFT Z &kp X   &kp C   &kp V   &kp B   &kp C_MUTE      &kp N   &kp M   &kp COMMA   &kp DOT &mt RSHFT FSLH
                        		&lt 4 BSPC   &lt 3 SPACE                 &lt 1 RET       &lt 2 DEL
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		numbers {
            label = "Numbers";
//  _____________________________       _____________________________
// /  1  |  2  |  3  |  4  |  5  \     /  6  |  7  |  8  |  9  |  0  \
// | TAB |BTPRV|BTNXT| VOL-| VOL+| ___ |  <  |  v  |  ^  |  >  |  '  |
// | Sft |BTSL0|BTCLR| MUT |     ||CPS|| HOME| END | PGUP| PGDN| Sft |
//         \  LAlt   |    Ctl    /     \   Trns    |         /
//          ---------------------       --------------------
			bindings = <
			&none	&none	&none	&none	&none			&none	&none	&none	&none	&none
			&none	&none	&none	&none	&none			&none	&none	&none	&none	&none
			&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none
									&none	&none			&none	&none
			>;
			sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
		};
		
		functions {
            label = "Functions";
//  _____________________________       _____________________________
// / ESC | F1  | F2  | F3  | F4  \     / USB | BLE |     |  =  |  -  \
// |     | F5  | F6  | F7  | F8  | ___ |  [  |  ]  |     |  `  |  \  |
// | Sft | F9  | F10 | F11 | F12 ||   ||     |     |     |     | Sft |
//         \  LAlt   |    Ctl    /     \           | Trns    /
//          ---------------------       --------------------
			bindings = <
			&none	&none	&none	&none	&none			&none	&none	&none	&none	&none
			&none	&none	&none	&none	&none			&none	&none	&none	&none	&none
			&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none
									&none	&none			&none	&none
			>;
			sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
		};

		navigation {
            label = "Navigation";
//  _____________________________       _____________________________
// / ESC | F1  | F2  | F3  | F4  \     / USB | BLE |     |  =  |  -  \
// |     | F5  | F6  | F7  | F8  | ___ |  [  |  ]  |     |  `  |  \  |
// | Sft | F9  | F10 | F11 | F12 ||   ||     |     |     |     | Sft |
//         \  LAlt   |    Ctl    /     \           | Trns    /
//          ---------------------       --------------------
			bindings = <
			&none	&none	&none	&none	&none			&none	&none	&none	&none	&none
			&none	&none	&none	&none	&none			&none	&none	&none	&none	&none
			&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none
									&none	&none			&none	&none
			>;
			sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
		};

		settings {
            label = "Settings";
//  _____________________________       _____________________________
// / ESC | F1  | F2  | F3  | F4  \     / USB | BLE |     |  =  |  -  \
// |     | F5  | F6  | F7  | F8  | ___ |  [  |  ]  |     |  `  |  \  |
// | Sft | F9  | F10 | F11 | F12 ||   ||     |     |     |     | Sft |
//         \  LAlt   |    Ctl    /     \           | Trns    /
//          ---------------------       --------------------
			bindings = <
			&none	&none	&none	&none	&none			&none	&none	&none	&none	&none
			&none	&none	&none	&none	&none			&none	&none	&none	&none	&none
			&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none
									&none	&none			&none	&none
			>;
			sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
		};
	};
};

//  _____________________________       _____________________________
// /  0  |  1  |  2  |  3  |  4  \     /   5 |   6 |   7 |   8 |  9  \
// | 10  | 11  | 12  | 13  | 14  | ___ |  15 |  16 |  17 |  18 | 19  |
// | 20  | 21  | 22  | 23  | 24  ||025||  26 |  27 |  28 |  29 | 30  |
//          \   31   |    32     /     \     33      |  34    /
//           --------------------       ---------------------

/ {
	combos {
		compatible = "zmk,combos";        
		combo_esc {            
			timeout-ms = <20>;            
			key-positions = <11 12>;            
			bindings = <&kp ESC>;        
		};
		combo_tab {
			timeout-ms = <20>;            
			key-positions = <12 13>;            
			bindings = <&kp TAB>; 
		};
		combo_del {
			timeout-ms = <20>;            
			key-positions = <15 16>;            
			bindings = <&kp DEL>; 
		};
		combo_bspc {
			timeout-ms = <20>;            
			key-positions = <16 17>;            
			bindings = <&kp BSPC>; 
		};
		combo_enter {
			timeout-ms = <20>;            
			key-positions = <17 18>;            
			bindings = <&kp RET>; 
		};
	};
};